@font-face {
  font-family: "KumbhSans";
  src: url("fonts/Kumbh_Sans/KumbhSans-VariableFont_YOPQ\,wght.ttf") format("truetype");
}


.App {
  text-align: center;
  font-family: KumbhSans;
  background-color: #F2F2F2;
}