.top-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 140px;
    right: 50%;
    top: 25%;
    transform: translate(0%, -25%);
}

.body-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 700px;
    margin: 0 auto;
    text-align: left;
}

.footer-container {
    padding-top: 30px;
}